body {
    font-family: 'Poppins', sans-serif;
    background-color: #d6dbdf;
}

main {
    margin: 10% 3%;
    display: grid;
    grid-template-columns: 50% 40%;
}

img {
    width: 50%;
    margin: auto;
}

p {
    font-size: 110%;
    font-weight: bold;
    margin-top: 7%;
}

a {
    display: block;
    margin-top: 1%;
    font-size: 90%;
    font-weight: bold;
}

h2 {
    margin-bottom: 1%;
}