body {
	background-color: #D6DBDF;
    font-family: 'Poppins', sans-serif;
}

main {
    margin: 10% 2%;
    display: grid;
    grid-template-columns: 50% 40%;
}

img {
    width: 50%;
    margin: auto;
}

input {
    width: 100%;
    border: 3px solid black;
    font-size: 125%;
    display: block;
    margin: 3% 0;
}

button {
    display: block;
    margin: 3% auto;
    box-shadow: 3px 3px black;
    font-size: 110%;
}

a {
    display: block;
    margin: 1% 0 7%;
    font-size: 90%;
    font-weight: bold;
}

h2 {
    margin-bottom: 1%;
}

p {
    font-size: 90%;
    font-weight: bold;
    margin-top: 15%;
}